/* Style sheet set to chrome*/
h1{
    font-size: 2em;
    font-weight: bold;
}
h2{
    font-size: 1em;
    font-weight: bold;
}
li{
    list-style-type: disc; 
    font-weight: bold;
}
strong{
    font-weight: bold;
}