/* Style sheet set to chrome*/
body{
    margin: 0 25%;
    background-image: url("vintage-concrete.png")
}
header{
    width: 100%;
    margin-top: 0;
    height: 50px;
}
.A{
    width: 30%;
    height: 100%;
    margin: 0px;
    float: left;
    text-align: center;
}
.B{
    width: 70%;
    height: 100%;
    margin: 0px;
    float: right;
}
h1{
    font-size: 2em;
    font-weight: bold;
    display: block;
}
h2{
    font-size: 1em;
    font-weight: bold;
}
ul{ 
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: right;
}
li a{
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
    background-color: bisque;
}
.area{
    padding: 30px;
    width: 960px;
    align-content: center;
    height: 500px;
}
form{
    padding: 30px;
}
.grid{
    border-top: 20px;
    border-spacing: 30px;
    margin: 20px;
}
td{
    padding: 20px;
}
#bio{
    padding: 20px;
}
#pic{
    padding: 20px;
}
